.category-banner-component{
    padding-bottom:50px;
    }
.category-banner-component .category-banner{
    width:100%;
    position: relative;
    margin:0;
    padding:0;
  }
  .category-banner-component .category-banner .img-responsive {
    width: 100%;
}
.category-banner-component .category-banner .category-banner-desc{
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    top: 0px;
    left: 0px;
    padding-top: 50px;
    padding-left:50px;
    color:#fff;
    font-weight: bold;
}
.category-banner-component .category-banner .category-banner-desc p{
  font-size:23px;
}
.category-banner-component .category-banner .category-banner-desc h1{
  margin-top:25%;
  clear:both;
  font-weight: bold;
  text-shadow: 3px 4px 5px #444444;
}
  @media screen and (max-width:459px){

.category-banner-component .category-banner .category-banner-desc h1{
  margin-top:15%;
  font-size:2em;
}
.category-banner-component .category-banner .category-banner-desc p{
  font-size:18px;
}
.category-banner-component .category-banner .category-banner-desc{
  padding-left: 0px;
  text-align: center;
}
}